.dragclass
{
    position: relative;
    cursor: move;
}
.mn
{
    font-weight: bold;
    font-size: 8pt;
    color: #333333;
    font-family: Arial;
    text-decoration: none;
}
.mn:hover
{
    font-weight: bold;
    font-size: 8pt;
    color: #999999;
    font-family: Arial;
    text-decoration: none;
}

.msnFB
{
    table-layout: fixed;
    background-color: #264989;
}
.mncon
{
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
}
.mncon:hover
{
    font-weight: bold;
    font-size: 12px;
    color: #FF9900;
    font-family: Arial;
    text-decoration: none;
}
.dangky
{
    font-weight: bold;
    font-size: 11px;
    color: #0066CC;
    font-family: Arial;
    text-decoration: none;
}
.dangky:hover
{
    font-weight: bold;
    font-size: 11px;
    color: #FF9966;
    font-family: Arial;
    text-decoration: underline;
}

.text
{
    font-size: 12px;
    font-family: Arial;
    text-decoration: none;
    color: Black;
}
.textTitle
{
    font-size: 12px;
    font-family: Arial;
    text-decoration: none;
    color: Black;
    font-weight: bold;
}
.radio
{
    font-size: 12px;
    font-family: Arial;
    text-decoration: none;
    color: Black;
}
.textbox
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-color: Black;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
.button
{
    border-top: 1px solid #0099CC;
    border-right: 1px solid #0099CC;
    border-bottom: 1px solid #0099CC;
    border-left: 1px solid #0099CC;
    background-color: #67aad3;
    font-family: Arial;
    font-size: 11px;
    color: #FFFFCC;
    cursor: hand;
    cursor: pointer;
    width: 80px;
}
.button_long
{
    border-top: 1px solid #0099CC;
    border-right: 1px solid #0099CC;
    border-bottom: 1px solid #0099CC;
    border-left: 1px solid #0099CC;
    background-color: #67aad3;
    font-family: Arial;
    font-size: 11px;
    color: #FFFFCC;
    cursor: hand;
    cursor: pointer;
    width: 120px;
}
.button_short
{
    border-top: 1px solid #0099CC;
    border-right: 1px solid #0099CC;
    border-bottom: 1px solid #0099CC;
    border-left: 1px solid #0099CC;
    background-color: #67aad3;
    font-family: Arial;
    font-size: 11px;
    color: #FFFFCC;
    cursor: hand;
    cursor: pointer;
    width: 50px;
}
button_reset, .button_reset
{
    background-image: url(/images/reset.gif);
    height: 20px;
    width: 67px;
    border: 0px;
    vertical-align: top;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
}
.button_hide
{
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    background-color: #67aad3;
    font-family: Arial;
    font-size: 11px;
    color: #ccffcc;
    cursor: hand;
    cursor: pointer;
}
.title, .title:link, .title:active, .title:visited
{
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
}
.title:hover
{
    font-size: 11px;
    font-weight: bold;
    color: #FF0000;
    font-family: Arial;
    text-decoration: none;
}
.valid
{
    font-size: 12px;
    font-weight: bold;
    color: Red;
    font-family: Arial;
}
.sao
{
    font-size: 14px;
    font-weight: bold;
    color: Red;
    font-family: Arial;
}
.node
{
    font-size: 12px;
    color: Red;
    font-family: Arial;
}
.textleftbold
{
    font-size: 11px;
    font-family: Arial;
    text-decoration: none;
    color: #0066CC;
    font-weight: bold;
}
.textleftboldcolor
{
    font-size: 11px;
    font-family: Arial;
    text-decoration: none;
    color: #FF6600;
    font-weight: bold;
}
.textTracuu1
{
    font-size: 12px;
    font-family: Arial;
    text-decoration: none;
    color: #336699;
    font-weight: bold;
}
.textTracuu2
{
    font-size: 12px;
    font-family: Arial;
    text-decoration: none;
    color: #0066CC;
}

.tieude
{
    font-weight: bold;
    font-size: 14pt;
    color: #344B5F;
    font-family: Arial;
    text-decoration: none;
}
.mn1, .mn1:link, .mn1:active, .mn1:visited
{
    font-weight: normal;
    font-size: 9pt;
    color: #FFFFFF;
    font-family: Arial;
    text-decoration: none;
}
.mn1:hover
{
    font-weight: normal;
    font-size: 9pt;
    color: #999999;
    font-family: Arial;
    text-decoration: none;
}
.mn2, .mn2:link, .mn2:active, .mn2:visited
{
    font-weight: normal;
    font-size: 9pt;
    color: #0099CC;
    font-family: Arial;
    text-decoration: none;
}
.mn2:hover
{
    font-weight: normal;
    font-size: 9pt;
    color: #666666;
    font-family: Arial;
    text-decoration: none;
}

.mn4, .mn4:link, .mn4:active, .mn4:visited
{
    font-weight: normal;
    font-size: 9pt;
    color: #0099CC;
    font-family: Arial;
    text-decoration: none;
}
.mn4:hover
{
    font-weight: normal;
    font-size: 9pt;
    color: #666666;
    font-family: Arial;
    text-decoration: none;
}

.mn6
{
    font-weight: bold;
    font-size: 10pt;
    color: #993300;
    font-family: Arial;
    text-decoration: none;
}

.icon, .icon:link, .icon:active, .icon:visited
{
    font-weight: bold;
    font-size: 12px;
    color: #009900;
    font-family: Arial;
    text-decoration: none;
}
.icon:hover
{
    font-weight: bold;
    font-size: 12px;
    color: #0099FF;
    font-family: Arial;
    text-decoration: none;
}
.maxchar
{
    font-weight: normal;
    color: #999999;
    font-size: 11px;
    font-style: italic;
    font-family: Arial;
    text-decoration: none;
}

.treebook, .treebook:link, .treebook:visited
{
    font-weight: normal;
    font-size: 9pt;
    color: #0099CC;
    font-family: Arial;
    text-decoration: none;
}
.treebook:hover
{
    font-weight: normal;
    font-size: 9pt;
    color: #FF0000;
    font-family: Arial;
    text-decoration: none;
}
.treebook:active
{
    font-weight: normal;
    font-size: 9pt;
    color: #FF0000;
    font-family: Arial;
    text-decoration: none;
}
/*************/
.heading {
	padding: 1em 0 1em 0;
	color:#5377A9;
	font-family:Arial, Sans-Serif;
	font-weight:bold;
	font-size:1.2em;
}
.collapsePanel {
	
	background-color:white;
	overflow:hidden;
}

.collapsePanelHeader{
	width:100%;
	color:#FFF;
	font-weight:bold;
}


div#container {
	margin:0 auto;
	width:100%;
	
	height:auto !important;
	height:100%;
	min-height:100%;
}

div#header 
{
	padding:0px;
	border:0px;
}
div#content_panel 
{
	padding:0px 10px 0px 10px;
	border-left: solid 4px #3b78ae;
	border-right: solid 4px #3b78ae;
	top:0px;
	bottom:0px;
}
div#footer 
{
	width:100%;
	bottom:0px;
	background:#ffffff;
	border:0px;
}
.ms-toolbar
{	
	font-size: 9pt;
	color: #003399;
    font-family: Arial;
	text-decoration: none;
}

