<?xml version="1.0"?>
<urlrewritingnet rewriteOnlyVirtualUrls="false"
					  contextItemsPrefix="QueryString"
					  defaultPage=""
					  defaultProvider="RegEx"
					  xmlns="http://www.urlrewriting.net/schemas/config/2006/07">

	<rewrites>
		<add name="Trangchu"  virtualUrl="^~/trang-chu.html"
					rewriteUrlParameter="ExcludeFromClientQueryString"
					destinationUrl="~/default.aspx"
					ignoreCase="true" />

		<add name="listtintuc"  virtualUrl="^~/list/(.*)/(.*).html"
				  rewriteUrlParameter="ExcludeFromClientQueryString"
				  destinationUrl="~/list.aspx?ID=$1"
				  ignoreCase="true" />
		<add name="ChiTiettintuc"  virtualUrl="^~/News/(.*)/(.*).html"
					rewriteUrlParameter="ExcludeFromClientQueryString"
					destinationUrl="~/News.aspx?ID=$1"
					ignoreCase="true" />

		<add name="GioiThieu"  virtualUrl="^~/Gioi-Thieu.html"
					rewriteUrlParameter="ExcludeFromClientQueryString"
					destinationUrl="~/GioiThieu/GioiThieu.aspx"
					ignoreCase="true" />

		<add name="GioiThieuChiTiet"  virtualUrl="^~/Gioi-Thieu/(.*)/(.*).html"
					rewriteUrlParameter="ExcludeFromClientQueryString"
					destinationUrl="~/GioiThieu/Default.aspx?ID=$1"
					ignoreCase="true" />

		<add name="LienHe"  virtualUrl="^~/Lien-He.html"
					rewriteUrlParameter="ExcludeFromClientQueryString"
					destinationUrl="~/lien-he/Default.aspx"
					ignoreCase="true" />

		<add name="SanPham"  virtualUrl="^~/San-Pham.html"
					rewriteUrlParameter="ExcludeFromClientQueryString"
					destinationUrl="~/san-pham/List.aspx"
					ignoreCase="true" />
		<add name="ChiTietSanPham"  virtualUrl="^~/San-Pham/(.*)/(.*).html"
					rewriteUrlParameter="ExcludeFromClientQueryString"
					destinationUrl="~/san-pham/Detail.aspx?ID=$1"
					ignoreCase="true" />

		<add name="Tuyendung"  virtualUrl="^~/tuyen-dung.html"
				   rewriteUrlParameter="ExcludeFromClientQueryString"
				   destinationUrl="~/tuyen-dung/Default.aspx"
				   ignoreCase="true" />
		<add name="Tuyendungchitiet"  virtualUrl="^~/tuyen-dung/(.*)/(.*).html"
				   rewriteUrlParameter="ExcludeFromClientQueryString"
				   destinationUrl="~/tuyen-dung/Default.aspx?ID=$1"
				   ignoreCase="true" />

		<add name="ListTinTuc"  virtualUrl="^~/tin-tuc.html"
				   rewriteUrlParameter="ExcludeFromClientQueryString"
				   destinationUrl="~/tin-tuc/List.aspx"
				   ignoreCase="true" />
		
		<add name="PhanTrangTinTuc"  virtualUrl="^~/tin-tuc/(.*)"
				   rewriteUrlParameter="ExcludeFromClientQueryString"
				   destinationUrl="~/tin-tuc/list.aspx?Page=$1"
				   ignoreCase="true" />
		
		<add name="ChiTietTinTuc"  virtualUrl="^~/tin-tuc/(.*)/(.*).html"
				   rewriteUrlParameter="ExcludeFromClientQueryString"
				   destinationUrl="~/tin-tuc/Detail.aspx?ID=$1"
				   ignoreCase="true" />
	</rewrites>
</urlrewritingnet>

